// C:\Users\Valdemir Goncalves\Downloads\BeatVideoMaker\BeatVideoMaker\firestore.rules
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() {
      return request.auth != null;
    }

    function isOwnUser(userId) {
      return signedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow create, read, update, delete: if isOwnUser(userId);
    }

    match /projects/{projectId} {
      allow create: if signedIn()
        && request.resource.data.userId == request.auth.uid;

      allow read, update, delete: if signedIn()
        && resource.data.userId == request.auth.uid;
    }
  }
}