# C:\Users\Valdemir Goncalves\Downloads\BeatVideoMaker\BeatVideoMaker\backend\.env
BACKEND_PORT=4000
BACKEND_CORS_ORIGIN=*
TMP_DIR=./tmp
FFMPEG_PATH=ffmpeg
FONT_FILE=/usr/share/fonts/truetype/dejavu/DejaVuSans-Bold.ttf